html {
    position: relative;
    height: 100%;
}

body {
    background-image: url("../images/tomandliz.jpg");
    background-size: 100%;
    margin-bottom: 60px;
}

h1.header {
    margin-top: 50px;
    margin-bottom: 50px;
}

p.lead {
    margin-top: 50px;
    margin-bottom: 50px;
}

a {
    text-decoration: none;
}
a.social-icon {
    margin-left: 2px;
    margin-right: 5px;
}

.footer {
  position: absolute;
  bottom: 0;
  clear: both;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}
